name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [ready_for_review, opened, synchronize]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  discord-bot:
    name: Discord Bot
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable]
    steps:
      - name: GitHub Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
          cache: true
          toolchain: ${{ matrix.rust }}

      - name: Ensure code compiles
        run: cargo build --all

      - name: Run Tests
        run: cargo test --all

      - name: Run Clippy
        run: cargo clippy --all -- -D warnings

      - name: Run Rustfmt
        run: cargo fmt --all --check
